body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
}

.login-container,
.register-container {
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}

.register-container {
  display: none;
}

header {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

header .arrow-container,
header .logo-container {
  display: none;
}

header img,
footer img {
  width: 75px;
}

main {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
  position: absolute;
  align-items: center;
  bottom: 0;
}

.footer-flex-container {
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row;
  justify-content: space-between;
}
